<div id="page-header">
    <header>
        <div class="grid">
            <div class="row">
                <div class="two columns"></div>
                <div class="eight columns">
                    <h1>Title</h1>
                    <h2>Subtitle</h2>
                </div>
                <div class="two columns">
                    <a href="tel:5555555555">555-555-5555</a>
                </div>
            </div>
        </div>
    </header>
    <nav id="page-navigation">
        <a href="#" class="shutter">Link 1</a>
        <a href="#" class="shutter">Link 2</a>
        <a href="#" class="shutter">Link 3</a>
    </nav>
</div>