<div class="tsw-container">
    <div id="tsw-splash">
        <img src="/common/static/foo.png" alt="The Title" width="100" height="100">
    </div>
</div>
<div class="tsw-container">
    <span><address>11800 Domain Dr. Austin, TX 78701</address> | <a class="phone" href="tel:5555555555">555-555-5555</a></span>
</div>